@charset "utf-8";

.feedification { overflow: auto; padding-top: 10px; padding-bottom: 10px; }

.feedification-icon { float: left; margin-right: 13px; width: 60px; height: 70px; }

.feedification-icon img { position: relative; top: 1px; left: -1px; }

.pagification { overflow: hidden; padding: 10px; position: relative; margin-bottom: 10px; }

.pagification-icon { position: absolute; top: 0px; left: 0px; overflow: hidden; margin: 10px; }

.pagification-icon .icon-logo-r { background-size: 58px 58px; height: 58px; width: 58px; }

.pagification-body { float: left; overflow: hidden; margin-left: 68px; }

.BuildPageContent .pagification-body { width: 530px; }

.pagification-message { overflow: hidden; }

.pagification-showall { display: none; }

.pagification-collapse { display: inline; }

.collapsed .pagification-message { height: 2.6em; }

.collapsed .pagification-showall { display: inline; }

.collapsed .pagification-collapse { display: none; }

.pagification-links { text-align: right; }

.funcaptcha-modal-body { margin: 0px auto; display: block; width: 303px; }